*{
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}
#loginForm
{

display: flex;
flex-direction: column;
justify-content: center;
margin-top:50px;
text-align: center;
width: 60%;

}
.error-icon, .error-text{
	display: none;
}

#piclogo {

    display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 100px;
    width: 15%;
    position: relative;
    left: 43%;
    margin: 0;
           
}
.field-group{
    height: 10%;
}


    input {
    font-size: medium;
    line-height: 3;
    width: 50%;
    border: 1px solid #FDB827;
    text-align: center;
}
input::placeholder
{
    font-size: medium;
    color: rgba(0, 0, 0, 0.678);
}
button{
  
    border: none;
    background-color: #FDB827;
    height: 40px;
    width: 30%;
    text-align: center; 
    position: relative;
    left:35%;
}
#top{
    color: #FDB827;
    text-decoration: line-through;
    
   
}
.error-icon{
    position: relative;
    bottom: 60%;
    left: 70%;
}
.error-text{
    font-size: x-small;
    color: red;
    position: relative;
    bottom: 60%;
}
@media only screen and (max-width: 700px) {
	#loginForm {
	  width: 90%;
	}
    #piclogo{
        width: 30%;
        left: 35%;
    }
    input{
        width: 90%;
        font-size: medium;
    }
    .error-icon{
       
        left:85%;
    }
  }
