*{
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}
#loginForm
{

display: flex;
flex-direction: column;
justify-content: center;
margin-top:150px;
text-align: center;
position: relative;

}
.error-icon, .error-text{
	display: none;
}

#piclogo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 125px;
           
}


    input {
    font-size: 10px;
    line-height: 4;
    width: 300px;
    border: 1px solid orange;
    text-align: center;
}
button{
    border: none;
    background-color: orange;
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center; 
}
/* @media only screen and (max-width: 600px) {
	#regform {
	  width: 90%;
	}
  } */
