*{
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
}
#logotop
{
   position: absolute;
   left: 1%;
}
#regform
{

display: flex;
flex-direction: column;
justify-content: center;
margin-top:150px;
text-align: center;
}
.error-icon, .error-text{
	display: none;
}
input{
    width: 80%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1.3px solid hsl(246, 25%, 77%);
	padding-left: 20px;
	outline: none;
	color: hsl(249, 10%, 26%);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 00;  
}
label{
    display: none;
}


@media only screen and (max-width: 600px)  {
    
}