*{
	box-sizing: border-box;
	font-family: 'Encode Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
	
 }
 body
 {
	 display: flex;
	 justify-content: center;
	 background-color: #FDB827;
	
 }
 nav{
	 background-color: white;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
 }
 #logotop
 {
	margin-left: 2%;
	margin-top: 0;
	position: absolute;
	left: 0;
 }
 
 #regform
 {

background-color: #F4F4F4;
position: relative;
 width: 50%;
 border: 1px solid none;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 margin-top:40px;
 text-align: center;
 border-radius: 100px;
 box-shadow: 10px 10px 10px gray;
 align-items: center;
 justify-content: center;
 width:35%;
 
 }
 .error-icon, .error-text{
	 display: none;
	
 }

 
 #i{
	
	 height: 30px;
	 border-radius: 10px;
	 border: 1.3px solid hsl(246, 25%, 77%);
	 
 }
 label{
	 display: none;
	 font-size: medium;
 }

 button{
	
	 width: 50%;
	 background-color: #FDB827;
	 height: 40px;
	 border-radius: 10px;
	 border: none;
	 outline: none;
	 font-size: 1.1rem;
	 margin-bottom: 30px;
	 margin-top:10px;

 }
 #piclogo{
height: 50px;
margin-top: 10px;


 }
 #topic{
	 display: block;
	 font-size:medium;
	 

 }
.field-group{
	 width: 100%;
	 height:60px;
 }
 .inp{
	
	 width: 90%;
	 height: 40px;
	 height: 40px;
	 border-radius: 10px;
	 border: 1.3px solid hsl(246, 25%, 77%);
	 padding-left: 20px;
	 color: hsl(249, 10%, 26%);
	 font-family: 'Poppins', sans-serif;
	 font-size:15px;
	 
 }

 #top{
	 color: white;
	 text-decoration: line-through;
	 
	
 }
 #reg{
	 font-size:x-large;
 }
 .error-icon{
	position: relative;
	top: -55%;
	left:88%;
} 
.error-text{
	position: relative;
    top: -55%;
    font-size: xx-small;
    color: red;
    font-style: italic;;
}

 @media only screen and (max-width: 600px) {
	#regform {
	  width: 90%;
	}
  }
